<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<table border="1">
  <tr bgcolor="orange">
    <th align="center" width="100">번호</th>
    <th colspan="2" align="center" width="500">제목</th>
    <th align="center" width="150">작성자</th>
    <th align="center" width="100">작성일</th>
    <th align="center" width="50">조회수</th>
  </tr>

  <tr bgcolor="ebff82">
    <th align="center" width="50">9</th>
    <th align="center" width="450">공지사항 제목9</th>
     <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">user01</th>
    <th align="center" width="100">2021-03-29</th>
    <th align="center" width="50">34</th>

  </tr>
  <tr bgcolor="ebff82">
    <th align="center" width="50">6</th>
    <th align="center" width="450">공지사항 제목6</th>
    <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">answ445</th>
    <th align="center" width="100">2021-03-12</th>
    <th align="center" width="50">67</th>
  </tr>
  <tr bgcolor="ebff82">
    <th align="center" width="50">6</th>
    <th align="center" width="450">공지사항 제목6</th>
    <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">answ445</th>
    <th align="center" width="100">2021-03-12</th>
    <th align="center" width="50">67</th>
  </tr>
  <tr bgcolor="ebff82">
    <th align="center" width="50">3</th>
    <th align="center" width="450">공지사항 제목3</th>
    <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">testg12</th>
    <th align="center" width="100">2021-03-01</th>
    <th align="center" width="50">98</th>
  </tr>
  <tr bgcolor="ebff82">
    <th align="center" width="50">2</th>
    <th align="center" width="450">공지사항 제목2</th>
    <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">palwe3</th>
    <th align="center" width="100">2021-01-02</th>
    <th align="center" width="50">85</th>
  </tr>
  <tr bgcolor="ebff82">
    <th align="center" width="50">1</th>
    <th align="center" width="450">공지사항 제목1</th>
    <th><button type="submit">바로가기</button></th>
    <th align="center" width="100">xml23</th>
    <th align="center" width="100">2020-12-24</th>
    <th align="center" width="50">124</th>
  </tr>
  <tr bgcolor="orange">
    <th align="center" align="center" colspan="4">전체공지사항 갯수</th>
    <th colspan="2" align="center">5개</th>

  </tr>


</table>
</body>
</html>